configparser2 == 4.0.0
GDAL == 3.3.3
h5py == 3.4.0
noise == 1.2.2
numpy == 1.21.2
pi3d == 2.47
PyPlatec == 1.4.0
six == 1.16.0
PyOpenGL == 3.1.5
PyQt5 == 5.15.5
cx_Freeze == 6.8.1
protobuf == 3.18.0
pypng == 0.0.21
pygame == 2.0.1
PyOpenGL-accelerate == 3.1.5
